# Eclipse
.classpath
.project
.settings/

# IntelliJ IDEA
out/
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/

# Gradle
.gradle
/build/
gradle-app.setting
!gradle-wrapper.jar
.gradletasknamecache
